/********** Typefaces ********/

/* inconsolata-200 - latin-ext_latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 200;
  src: url('./webfonts/inconsolata/inconsolata-v20-latin-ext_latin-200.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./webfonts/inconsolata/inconsolata-v20-latin-ext_latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./webfonts/inconsolata/inconsolata-v20-latin-ext_latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('./webfonts/inconsolata/inconsolata-v20-latin-ext_latin-200.woff') format('woff'), /* Modern Browsers */
       url('./webfonts/inconsolata/inconsolata-v20-latin-ext_latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./webfonts/inconsolata/inconsolata-v20-latin-ext_latin-200.svg#Inconsolata') format('svg'); /* Legacy iOS */
}

/* inconsolata-regular - latin-ext_latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url('./webfonts/inconsolata/inconsolata-v20-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./webfonts/inconsolata/inconsolata-v20-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./webfonts/inconsolata/inconsolata-v20-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./webfonts/inconsolata/inconsolata-v20-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./webfonts/inconsolata/inconsolata-v20-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./webfonts/inconsolata/inconsolata-v20-latin-ext_latin-regular.svg#Inconsolata') format('svg'); /* Legacy iOS */
}

/* inconsolata-900 - latin-ext_latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 900;
  src: url('./webfonts/inconsolata/inconsolata-v20-latin-ext_latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./webfonts/inconsolata/inconsolata-v20-latin-ext_latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./webfonts/inconsolata/inconsolata-v20-latin-ext_latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('./webfonts/inconsolata/inconsolata-v20-latin-ext_latin-900.woff') format('woff'), /* Modern Browsers */
       url('./webfonts/inconsolata/inconsolata-v20-latin-ext_latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./webfonts/inconsolata/inconsolata-v20-latin-ext_latin-900.svg#Inconsolata') format('svg'); /* Legacy iOS */
}


/* libre-baskerville-regular - latin-ext_latin */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: url('./webfonts/librebaskerville/libre-baskerville-v9-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./webfonts/librebaskerville/libre-baskerville-v9-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./webfonts/librebaskerville/libre-baskerville-v9-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./webfonts/librebaskerville/libre-baskerville-v9-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./webfonts/librebaskerville/libre-baskerville-v9-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./webfonts/librebaskerville/libre-baskerville-v9-latin-ext_latin-regular.svg#LibreBaskerville') format('svg'); /* Legacy iOS */
}

/* libre-baskerville-italic - latin-ext_latin */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: italic;
  font-weight: 400;
  src: url('./webfonts/librebaskerville/libre-baskerville-v9-latin-ext_latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./webfonts/librebaskerville/libre-baskerville-v9-latin-ext_latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./webfonts/librebaskerville/libre-baskerville-v9-latin-ext_latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./webfonts/librebaskerville/libre-baskerville-v9-latin-ext_latin-italic.woff') format('woff'), /* Modern Browsers */
       url('./webfonts/librebaskerville/libre-baskerville-v9-latin-ext_latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./webfonts/librebaskerville/libre-baskerville-v9-latin-ext_latin-italic.svg#LibreBaskerville') format('svg'); /* Legacy iOS */
}

/* libre-baskerville-700 - latin-ext_latin */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 700;
  src: url('./webfonts/librebaskerville/libre-baskerville-v9-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./webfonts/librebaskerville/libre-baskerville-v9-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./webfonts/librebaskerville/libre-baskerville-v9-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./webfonts/librebaskerville/libre-baskerville-v9-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
       url('./webfonts/librebaskerville/libre-baskerville-v9-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./webfonts/librebaskerville/libre-baskerville-v9-latin-ext_latin-700.svg#LibreBaskerville') format('svg'); /* Legacy iOS */
}


@font-face {
  font-family: 'dejavusansmonobook';
  src: local("DejaVu Sans Mono"),
      url('./webfonts/dejavusansmono/DejaVuSansMono-webfont.eot?') format('eot'),
      url('./webfonts/dejavusansmono/DejaVuSansMono-webfont.woff') format('woff'),
      url('./webfonts/dejavusansmono/DejaVuSansMono-webfont.ttf') format('truetype');
  font-display: swap;
}

/********** colours ********/
:root {
  --text: blue;
  --background: #f2f0f0;
  --accent: #109e78;
  --intermediate: #7b7974;
}

/********** general html style ********/
html {
  background-color: var(--background);
  /*background-image: url("../../images/ecolo_bg.png")*/
  background-repeat: no-repeat;
  background-size: 100%;
  box-sizing: border-box;
  color: var(--text);
  font-family: "Inconsolata", monospace;
  font-size: 18px;
  line-height: 1.5;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

::selection
{
  color: var(--background);
  background: var(--text);
}

*, *:before, *:after {
  box-sizing: border-box;
}

section h1, section h2, section h3, section h4, section h5, section h6 {
  font-family: "Inconsolata";
}

h1 {
  font-size: 3.5em;
  line-height: 1;
  margin: 0;
  padding-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 5px;
}

section h2 {
  font-size: 2.611rem;
  left: -0.5em;
  line-height: 1.14;
  margin-bottom: 0.57em;
  margin-top: 0.57em;
  position: relative;
}

a {
  color: #333;
  color: var(--text);
  border-bottom: 1.5px solid var(--text);
  text-decoration: none;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
}

a:active {
}

a:visited {
  border-bottom: 1.5px dotted var(--text);
}

a:hover {
  color: var(--background);
  /*background: var(--text);*/
  box-shadow: inset 0 -1.3em var(--text);
}

/* code highlighting */
pre {
  background-color: #333;
  background-color: var(--text);
  border-radius: 3px;
  color: #f9f9f9;
  color: var(--background);
  font-family: "dejavusansmonobook", monospace;
  font-size: 0.8em;
  letter-spacing: 0;
  line-height: 1.4;
  padding: 0 15px 0 0;
  white-space: pre-wrap;
}


/* line numbers */
pre > .ln {
  background-color: var(--intermediate);
  color: var(--background);
  display: inline-block;
  padding-left: 10px;
  user-select: none;
}

pre > .s1 {
  color: #8a7fa7;
}

pre > .nb {
  color: #8fbcbb;
}

pre > .kn {
  color: #45b6fb;
}

pre > .n {
  color: #8fbcbb;
}

pre > .o {
  color: #7eb2b8;
}

pre > .sd {
  color: #a6c274;
}

pre > .c1 {
  color: #b48ead;
}

pre::selection
{
  color: var(--text);
  background: var(--background);
}

/*@media print {
  a[href^="http"]:not([href*="txt.nemecl.eu"])::after {
    content: " (" attr(href) ")";
  }
}*/