body {
  max-width: 800px;
  margin: auto;
}

header {
  text-align: center;
}

#next {
  visibility: hidden;
}

#wrong {
  visibility: hidden;
}

#indice {
  visibility: hidden;
}

input[type="text"] {
    border: 1.5px solid var(--text);
    border-radius: 3px;
}

button {
  background-color: var(--text);
  color: var(--background);
  border: none;
  border-radius: 3px;
  padding: 2px 10px 2px 10px;
}